<form action="/members/<%= @member.id %>" method="post">
<table>
  <tr>
  <td><label for="first_name">First Name:</label>
  <td>
    <input type="text" name="first_name" value="<%= @member.first_name %>"/>
  </td>
  </tr>
  <tr>
  <td><label for="last_name">Last Name:</label>
  <td>
    <input type="text" name="last_name" value="<%= @member.last_name %>"/>
  </td>
  </tr>
  <tr>
  <td><label for="membership_id">membership_type:</label>
  <td>
    <select name="membership_id">
      <% for membership in @memberships %>
      <option value="<%= membership.id%>"><%= membership.type_styled %></option>
      <% end %>
    </select>
  </td>
  </tr>
  <tr>
  <td><label for="goal">Last Name:</label>
  <td>
    <input type="text" name="goal" value="<%= @member.goal %>"/>
  </td>
  </tr>
</table> <br/>
<input type="submit" value="Confirm Changes"/>
</form>
