<h1>Members</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last name</th>
    <th>Membership type</th>
    <th>Goal</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><%= member.first_name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.membership_type_styled %></td>
    <td><%= member.goal %></td>
    <td><a href="/members/<%= member.id %>"> View member</a></td>
  </tr>
  <% end %>
</table> <br/>

<form action="/members/new" method="get">
  <input type="submit" value="Create new member">
</form>
