<h1><b>Member profile:</b> <%= @member.full_name %></h1>
<p><b>Membership type:</b> <%= @member.membership_type_styled %></p>
<p><b>Goal:</b> <%= @member.goal %></p>

<% if @member.bookings.count >= 1 %>
<table>
  <tr>
    <th>Type</th>
    <th>Room</th>
    <th>Start time</th>
    <th>Duration</th>
    <th>Trainer</th>
  </tr>
  <% for booking in @member.bookings() %>
  <% session = booking.session() %>
  <tr>
    <td><%= session.type %></td>
    <td><%= session.room_name %></td>
    <td><%= session.start_time %></td>
    <td><%= session.duration %> mins</td>
    <td><%= session.trainer %></td>
    <td><a href="/sessions/<%= session.id %>">View session</a></td>
    <td>
      <form class="" action="/bookings/<%= booking.id %>/delete" method="post">
        <input type="submit" value="Delete booking">
      </form>
    </td>
  </tr>
  <% end %>
</table>
<% else %>
<p>This member hasn't made any bookings yet</p>
<% end %>

<form class="" action="/members/<%= @member.id %>/edit" method="get">
  <input type="submit" value="Edit member">
</form>
<form class="" action="/members/<%= @member.id %>/delete" method="post">
  <input type="submit" value="Delete member">
</form>
