<h1><%= @membership.type_styled %> <b>membership details:</b> </h1>
<h2><b>Access from:</b> <%= @membership.start_time %></h2>
<h2><b>Access to:</b> <%= @membership.end_time %></h2>
<form class="" action="/memberships/<%= @membership.id %>/edit" method="get">
  <input type="submit" value="Edit membership">
</form>
<form class="" action="/memberships/<%= @membership.id %>/delete" method="post">
  <input type="submit" value="Delete membership">
</form>
