<h1><%= @membership.type_styled %> <b>membership details:</b> </h1>
<table>
  <tr>
    <td><b>Access from:</b></td>
    <td><%= @membership.start_time %></td>
  </tr>
  <tr>
    <td><b>Access to:</b></td>
    <td><%= @membership.end_time %></td>
  </tr>
</table> <br/>
<form class="" action="/memberships/<%= @membership.id %>/edit" method="get">
  <input type="submit" value="Edit membership">
</form>
<form class="" action="/memberships/<%= @membership.id %>/delete" method="post">
  <input type="submit" value="Delete membership">
</form>
