<form action="/sessions/<%= @session.id %>" method="post">
<table>
  <tr>
    <td><label for="type">Type:</label></td>
    <td><input type="text" name="type" value="<%= @session.type %>"/></td>
  </tr>
  <tr>
    <td><label for="room_id">Room:</label></td>
    <td>
      <select name="room_id">
        <% for room in @rooms %>
        <option value="<%= room.id%>"><%= room.name %></option>
        <% end %>
      </select>
    </td>
  </tr>
  <tr>
    <td><label for="start_time">Time:</label></td>
    <td>
      <input type="datetime-local" name="start_time" value="<%= @session.start_time %>"/>
    </td>
  </tr>
  <tr>
    <td><label for="duration">Duration in minutes:</label></td>
    <td>
      <input type="text" name="duration" value="<%= @session.duration %>"/>
    </td>
  </tr>
  <tr>
    <td><label for="trainer">Trainer:</label></td>
    <td><input type="text" name="trainer" value="<%= @session.trainer %>"/></td>
  </tr>
</table> <br/>
<input type="submit" value="Confirm Changes"/>
</form>
