<h1>Sessions</h1>
<form action="/sessions" method="get">
  <label>Date filtering</label>
  <label for="start_date">From:</label>
    <input type="date" name="start_date">
  <label for="end_date">To:</label>
    <input type="date" name="end_date">

  <input type="submit" value="Filter sessions">
</form> <br/>

<table>
  <tr>
    <th>Type</th>
    <th>Room</th>
    <th>Start time</th>
    <th>Duration</th>
    <th>Trainer</th>
    <th>Capacity</th>
  </tr>
  <% for session in @sessions %>
  <tr>
    <td><%= session.type %></td>
    <td><%= session.room_name %></td>
    <td><%= session.start_time %></td>
    <td><%= session.duration %> mins</td>
    <td><%= session.trainer %></td>
    <td><%= session.members_count %>/<%= session.capacity %></td>
    <td><a href="/sessions/<%= session.id %>"> View session</a></td>
  </tr>
  <% end %>
</table>
<form class="" action="/sessions/new" method="get">
  <input type="submit" value="Create new session">
</form>
