<h1>Sessions</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Room</th>
    <th>Start time</th>
    <th>Duration</th>
    <th>Trainer</th>
    <th>Capacity</th>
  </tr>
  <% for session in @sessions %>
  <tr>
    <td><%= session.type %></td>
    <td><%= session.room_name %></td>
    <td><%= session.start_time %></td>
    <td><%= session.duration %> mins</td>
    <td><%= session.trainer %></td>
    <td><%= session.members_count %>/<%= session.capacity %></td>
    <td><a href="/sessions/<%= session.id %>"> View session</a></td>
  </tr>
  <% end %>
</table>
<form class="" action="/sessions/new" method="get">
  <input type="submit" value="Create new session">
</form>
