<h1><b>Class information:</b> <%= @session.type %></h1>
<p><b>Room:</b> <%= @session.room_name %></p>
<p><b>Start time:</b> <%= @session.start_time %></p>
<p><b>Duration:</b> <%= @session.duration %></p>
<p><b>Trainer:</b> <%= @session.trainer %></p>
<p><b>Capacity:</b> <%= @session.capacity %></p>
<p><b>Members signed up for session:</b></p>

<% if @session.members.count >= 1 %>
<table>
  <tr>
    <th>Member</th>
    <th>Goal</th>
  </tr>
  <% for member in @session.members() %>
  <tr>
    <td><%= member.full_name() %></td>
    <td><%= member.goal() %></td>
    <td><a href="/members/<%= member.id %>"> View member</a></td>
  </tr>
  <% end %>
</table>
<% else %>
<p>The session is currently empty</p>
<% end %>
<form class="" action="/sessions/<%= @session.id %>/edit" method="get">
  <input type="submit" value="Edit session">
</form>
<form class="" action="/sessions/<%= @session.id %>/delete" method="post">
  <input type="submit" value="Delete session">
</form>
