<h1><b>Class information:</b> <%= @session.type %></h1>
<table>
  <tr>
    <td><b>Room:</b></td>
    <td><%= @session.room_name %></td>
  </tr>
  <tr>
    <td><b>Start time:</b></td>
    <td><%= @session.start_time %></td>
  </tr>
  <tr>
    <td><b>Duration:</b></td>
    <td><%= @session.duration %></td>
  </tr>
  <tr>
    <td><b>Trainer:</b></td>
    <td><%= @session.trainer %></td>
  </tr>
  <tr>
    <td><b>Capacity:</b></td>
    <td><%= @session.capacity %></td>
  </tr>
</table> <br/>

<p><b>Members signed up for session:</b></p>

<% if @session.members.count >= 1 %>
<table>
  <tr>
    <th>Member</th>
    <th>Goal</th>
  </tr>
  <% for member in @session.members() %>
  <tr>
    <td><%= member.full_name() %></td>
    <td><%= member.goal() %></td>
    <td><a href="/members/<%= member.id %>"> View member</a></td>
  </tr>
  <% end %>
</table> <br/>
<% else %>
<p>The session is currently empty</p>
<% end %>
<form class="" action="/sessions/<%= @session.id %>/edit" method="get">
  <input type="submit" value="Edit session">
</form>
<form class="" action="/sessions/<%= @session.id %>/delete" method="post">
  <input type="submit" value="Delete session">
</form>
